/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET */

ul {
  list-style-type: none;
}

i {
  font-size: 1.4em;
  color: grey;
  cursor: pointer;
}

.main-wrapper {
  background-color: lightgrey;
  height: 100vh;
  width: 100%;
  position: relative;
}

.empty-bg-green {
  background-color: #009688;
  height: 100px;
}

.container {
  width: 80%;
  height: 95%;
  position: absolute;
  left: 50%;
  top: 50%;;
  transform: translate(-50% , -50%);
  margin: 0 auto;
}

.left-bar {
  height: 100%;
  width: 30%;
  overflow: hidden;
  float: left;
}

main {
  height: 100%;
  width: 70%;
  float: right;
  overflow: hidden;
  position: relative;
}

.account {
  height: 77px;
  width: 100%;
  background-color: #ededed;
  border-right: 0.25px solid grey;
  padding: 0 12px;
}

.notification {
  height: 80px;
  width: 100%;
  background-color: lightblue;
  padding: 0 8%;
}

.search {
  height: 40px;
  background-color: #ededed;
  width: 100%;
}

.chat {
  height: calc(100% - (77px + 80px + 40px));
  width: 100%;
  background-color: white;
  overflow: auto;
}

.profile {
  height: 77px;
  width: 100%;
  background-color: #ededed;
  padding: 0 12px;
  display: flex;
}

.space {
  background-image: url('img/mine.jpg');
  height: calc(100% - 147px);
  width: 100%;
  overflow: auto;
}

.write {
  height: 70px;
  background-color: #ededed;
}

.avatar {
  height: 75%;
  line-height: 70px;
}

.avatar img {
  height: 90%;
  border-radius: 100%;
  vertical-align: middle;
}

.avatar ul {
  float: right;
  line-height: 70px;
  margin-top: 7px;
  width: 50%;
  text-align: right;
}

.avatar ul li {
  display: inline-block;
  margin: 0 10px;
}

.notification .bell i {
  background-color: white;
  padding: 18% 14%;
  border-radius: 100%;
  color: lightblue;
}

.bell {
  width: 20%;
  float: left;
  height: 100%;
  padding-top: 20px;
}

.bell-text {
  height: 100%;
  float: right;
  width: 80%;
  padding-top: 25px;
}

.bell-text span {
  font-size: 0.8em;
  font-weight: bold;
  display: block;
}

.bell-text a {
  font-size: 0.9em;
  color: grey;
}

.search-bar {
  width: 100%;
  height: 70%;
  margin: auto;
  text-align: center;
  line-height: 40px;
}

.search-bar i {
  font-size: 0.8em;
  margin-right: 2%;
}

.search-bar input {
  border: .25px solid lightgrey;
  width: 250px;
  height: 25px;
  font-size: 0.7em;
  vertical-align: middle;
  padding: 0 1.5%;
}

.profile p {
  color: grey;
  font-size: 0.9em;
}

.profile strong {
  color: black;
  font-size: 1.2em;
}

.profile .avatar {
  flex-basis: 10%;
}

.profile .text {
  flex-basis: 70%;
  display: flex;
  align-items: center;
}

.profile .option {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.option ul {
  width: 100%;
  text-align: right;
}

.option ul li {
  display: inline-block;
  margin: 0 6%;
}

.footer-flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.audio {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.audio i {
  justify-content: center;
  align-items: center;
}

.input-div {
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input-div input {
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
  height: 70%;
  border-radius: 5px;
  border: none;
  padding: 0 2%;
}

.emoticon {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.emoticon i {
  justify-content: center;
  align-items: center;
}

.chat-avatar {
  height: 70px;
  width: 100%;
  display: flex;
  border-bottom: .5px solid lightgrey
}

.chat-image {
  height: 90%;
  flex-basis: 20%;
}

.chat-text {
  height: 100%;
  flex-basis: 65%;
  padding-left: 3%;
}

.chat-text p:first-child {
  margin-top: 10%;
  margin-left: 3%;
  font-weight: bold;
}

.chat-text p:last-child {
  font-size: 0.8em;
  color: grey;
  margin-left: 3%;
}

.chat-time {
  height: 100%;
  flex-basis: 15%;
  padding-top: 3.5%;
}

.chat-image img {
  height: 100%;
  height: 90%;
  border-radius: 100%;
  margin-top: 5%;
  margin-left: 10%;
}

.chat-time span {
  font-size: 0.8em;
  color: grey;
}
